$primary: #0058CC;
$success: #08D9CE;

// fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');
$font-family-sans-serif: 'Ubuntu', sans-serif;

// form
$input-btn-padding-y: 0.75rem;
$input-border-radius: 3px;
$label-margin-bottom: .31rem;

